.active {
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.4) 16px 13px 8px 0;
  @apply flex text-white items-center px-3 py-2 relative bg-transparent;
}

.active::before {
  background-color: #333335;
  content: "";
  border-radius: 22px;
  z-index: -1;
  @apply block absolute top-0 right-0 w-full h-full;
}

.active::after {
  content: "";
  border-radius: 22px;
  z-index: -2;
  top: 2px;
  right: -3px;
  background-image: linear-gradient(to top, #1d1d1f, #98a0ac);
  @apply block absolute w-full h-full;
}
