.product__video {
  position: relative;
}

.product__article {
  width: 100%;
}

.product__video::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}

.product__play-container {
  z-index: 10;
  color: #fff;
}

.product__play-container {
  top: 42px;
  left: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product__play-container .button {
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 1.5px solid #fff;
}

.product__play-container .button::after,
.product__play-container .button::before {
  display: none;
}

.product__play-container .button::hover::after,
.product__play-container .button::hover::before {
  display: block;
}

.product .price--old {
  margin-right: auto;
}

.product .button--add,
.product .button--buy {
  height: 34px;
  width: 164px;
  font-size: 13px;
  color: #fff;
}

@media (min-width: theme("screens.md")) {
  .products__first-col {
    width: 96px;
    min-width: 96px;
    margin-right: 23px;
  }

  .product .price--old {
    margin-right: 50px;
  }
}
